body {
  background: linear-gradient(
    to bottom right,
    rgba(255, 94, 121, 0.692),
    rgba(44, 115, 255, 0.804)
  );
}
#heading {
  margin-top: 40px;
  margin-bottom: 45px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 2.5em;
  color: rgba(254, 254, 254, 0.921);
}

#parentDiv {
  position: relative;
}

#mainDiv {
  width: 300px;

  margin-left: 120px;
  margin-bottom: 20px;
  padding: 5px;
  padding-bottom: 20px;
  position: relative;
  /* left: 300px; */

  background: linear-gradient(
    to bottom right,
    rgba(255, 201, 201, 0.564),
    rgba(203, 203, 203, 0.787)
  );
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

#outputDiv {
  position: absolute;
  left: 485px;
  bottom: 80px;
  box-shadow: 0 3rem 5rem rgba(53, 30, 40, 0.703);
  width: 160px;
  height: 100px;

  border: 1px solid rgba(24, 49, 237, 0.207);
  border-radius: 10px;
  background: transparent;
  background: linear-gradient(
    to top left,
    rgba(255, 255, 255, 0.589),
    rgba(255, 255, 255, 0.523)
  );
  padding-top: 0px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  color: rgba(156, 17, 47, 0.657);
}

#chartContainer {
  position: absolute;
  right: 120px;
  top: 0px;
  margin-top: 15px;
  width: 400px;
  height: 300px;
}

#mainForm {
  padding-bottom: 20px;
}

#para {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgba(63, 62, 62, 0.881);
  font-size: 20px;
  font-weight: bold;
}

.label {
  position: absolute;
  left: 60px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgba(63, 62, 62, 0.881);
  font-weight: 700;
}

.input {
  position: absolute;
  right: 60px;
  border: 1px solid rgb(84, 84, 39);
  border-radius: 6px;
  box-shadow: 5px 10px 50px rgba(211, 26, 26, 0.129);
  background-color: transparent;

  height: 26px;
  width: 80px;
  font-weight: bold;
  text-align: center;
  color: rgb(78, 78, 78);
}

#reset {
  margin-left: 125px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background: linear-gradient(
    to top left,
    rgba(25, 1, 1, 0.456),
    rgb(128, 94, 46)
  );
  border: 1px solid rgb(250, 255, 255);
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(57, 57, 57, 0.488);

  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

#btn {
  margin-left: 55px;
  padding: 10px;
  background: linear-gradient(
    to top left,
    rgba(25, 1, 1, 0.492),
    rgb(128, 94, 46)
  );
  border: 1px solid rgb(250, 255, 255);
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(57, 57, 57, 0.488);

  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
